@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@layer reset, base, tokens, recipes, utilities;

@layer base {
  html,
  body {
    background-color: var(--colors-bg);
    color: var(--colors-text);
  }

  #__nuxt {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  main {
    flex-grow: 1;
    padding: 1rem;
  }
}
